{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>

<html lang="ko">
<head>
    <link rel="icon"  href="{% static 'www/facvicon.ico' %}">
    <meta charset="utf-8" />
    <title>KUDING</title>
 
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a href="{% url 'root' %}" class="navbar-brand">
                    <img src='{% static "help.png" %}'   class="img-rounded" width="190" height="60" alt="kuding-logo">
               
            </a>

        

            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-success">로그아웃</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success">로그인</a>
                    <a href="{% url 'signup' %}" class="btn btn-success">회원가입</a>
                {% endif %}
            </div>
        </nav>

        <div class="card">
            <div class="card-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        &copy; 2020. kuding.
    </div>
</body>
</html>
