{% load bootstrap4 %}

{% load static %}

<!DOCTYPE html>



<html lang="ko">

    <head>

        <meta charset="UTF-8">

		<meta name="viewport" content="width=device-width">

		

        <title> 쿠딩 </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  

    </head>

    <body>

        <style type = "text/css">

            .jumbotron {

                background-image: url('../../static/jumboBackground.jpg ');

                background-size: cover;

                text-shadow: black 0.2em 0.2em 0.2em;

                color: black;

            }

        </style>

        

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

			

            <a class="navbar-brand" href= "{% url 'root' %}">

		    <img src='{% static "kuding.jpg" %}'  class="img-rounded" width="100" height="100" alt="kuding-logo">Kuding</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

              <span class="navbar-toggler-icon"></span>

            </button>

          

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav mr-auto"></ul>

              <form class="form-inline my-2 my-lg-0">

				<div>

					{% if user.is_authenticated %}

						<a href="{% url 'logout' %}" class="btn btn-outline-success my-2 my-sm-0">로그아웃</a>

					{% else %}

						<a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">로그인</a>

						<a href="{% url 'signup' %}" class="btn btn-outline-success my-2 my-sm-0">회원가입</a>

					{% endif %}

				</div>

              </form>

            </div>

        </nav>

       

        <div class = "container">

            <div class = "jumbotron">

                <h1 class="text-center">쿠딩을 소개합니다</h1>

				<p class="text-center">건국대 학생들입니다</p>

				{% if user.is_authenticated %}

                <p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'app:pdf_view'%}" role = "button">논문 도움받으러 가기</a></p>

				{% else %}

				<p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'login' %}" role = "button">로그인을 해주세요</a></p>

				

				{% endif %}

				

            </div>

        </div>

        

        <div class="row">

            <div class="col-md-12 text-center">

                <h4>Kuding의 특징</h4>

                <p>논문을 보기쉽게 해줍니다</p>

            </div>

        </div>



        <footer style="background-color: #000000; color: #ffffff;">

            <div class = "container">

                <br>

                <div class = "row">

                    <div class = "col-sm-4" style="text-align: center;"><h5>Copyright &copy; 2020</h5><h5>Kuding</h5></div>

                    <div class = "col-sm-4"><h4>팀원 소개</h4><p>저희는 건국대학교 학생입니다</p></div>

                </div> 

            </div>

        </footer>

    </body>

</html>
