<div class = "raw">
    <div class = "col-12" >
      <div class = "col-12 text-center">
<h1>로그인</h1>
<br><br>

</div>
<form method = "POST">
  {% csrf_token %}
  
  <div class="form-group">
    <label for="username">사용자 이름</label>
    <input type="text" 
    class="form-control" 
    name = "username" 
    id="username" 
    placeholder="이름을 입력하세요">
  </div>

  <div class="form-group">
    <label for="password">비밀번호</label>
    <input type="password" 
    name = "password" 
    class="form-control" id="password" placeholder="비밀번호를 입력하세요">
  </div>


  <span style="color:red;"><strong>{{ error }}</strong> </span>
  <button type="submit" class="btn btn-primary">로그인</button>
</form>
